<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing 01</title>
</head>
<body>
    <div id="div-container">
        <h1>{{title}}</h1>
<!--        <input type="text" v-model="yourname" />-->
        <input type="text" v-model="firstname" />
        <input type="text" v-model="lastname" />
<!--        <button v-on:click="showFullName()">Show</button>-->
<!--        <button v-on:click="this.fullname = this.firstname+' '+this.lastname">Show</button>-->
        <hr />
<!--        {{yourname}}-->
<!--        {{firstname}} {{lastname}}-->
        {{fullname}}
	</div>
<!--
    <div id="div-container">
        <h1>{{title}} <button v-on:click="buildGreeting()">greeting</button></h1>
        {{greeting}}
	</div>
-->
</body>
</html>
<script src="scripts/vue.js"></script>
<script>
    var vm = new Vue({
        el      : "#div-container",
        data    : {
            title       : "",
            firstname : "",
            lastname : "",
            fullname : "",
	    jianame:"hello word"
        },
        ready   : function(){
            this.title = "Hello VueJS";
        },
//        methods : {
//            showFullName : function(){
//                this.fullname = this.firstname+" "+this.lastname;
//            }
//        }
        computed : {
            fullname : function(){
                return this.firstname+" "+this.lastname;
            }
        }
    });
</script>
